{% extends "tracker/index.html" %}
{% load donation_tags %}
{% load i18n %}


{% block title %}{% trans "Podrobnosti daru" %} &mdash; {{ event.name }}{% endblock %}

{% block content %}

<h2 class="text-center">
    {% include "tracker/partials/donor_link.html" with donor=donation.donor_cache only %}
    <br />
    {% trans "Čas odeslání" %}:
    <span class="datetime">{{ donation.timereceived|date:"c" }}</span>
    &mdash;
    {% trans "Částka" %}:
    {{ donation.amount|money }}
</h2>
{% if donation.comment %}
<table class="table table-condensed">
    <thead>
        <tr>
            <th align="center">
                <b>
                    {% trans "Komentář" %}
                </b>
            </th>
        </tr>
    </thead>
    <tr>
        <td class="{{ donation.commentstate }}">
            {% with donation.comment as comment %}{% with donation.commentstate as state %}
            {% include "tracker/partials/comment.html" %}
            {% endwith %}{% endwith %}
        </td>
    </tr>
</table>
{% endif %}

{% if donationbids %}
<h3>
    <a href="{% url 'tracker:bidindex' event=donation.event.short %}">{% trans "Cíle" %}</a>
</h3>
<table class="table table-condensed table-striped small">
    <thead>
        <tr>
            <th>
                {% trans "Run" %}
            </th>
            <th>
                {% trans "Název" %}
            </th>
            <th>
                {% trans "Částka" %}
            </th>
        </tr>
    </thead>
    {% for donation_bid in donationbids %}
    <tr class="small">
        <td>
            {% if donation_bid.speedrun_id %}
            <a href="{% url 'tracker:run' pk=donation_bid.speedrun_id %}">{{ donation_bid.speedrun.name_with_category
                }}</a>
            {% endif %}
        </td>
        <td>
            <a href="{% url 'tracker:bid' pk=donation_bid.bid_id %}">{{ donation_bid.fullname }}</a>
        </td>
        <td>
            {{ donation_bid.amount|money }}
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}

<p align="center"><a href="{% url 'tracker:donationindex' event=donation.event.short %}">{% trans "Zpět na seznam darů"
        %}</a></p>
{% include "tracker/partials/navfooter.html" %}
{% endblock %}