{% extends "tracker/index.html" %}
{% load donation_tags %}
{% load i18n %}

{% block title %}{% trans "Seznam milníků" %} &mdash; {{ event.name }}{% endblock %}

{% block content %}
    <div class="fa-stack center-block medium-icon-blue fa-5x">
        <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-line-chart fa-stack-1x fa-inverse"></i>
    </div>

    <h2 class="text-center">
        {% trans "Seznam milníků" %} &mdash; {{ event.name }}
    </h2>

    {% include "tracker/partials/event_links.html" with index='tracker:milestoneindex' %}

    <table class="table table-condensed table-striped small">
        <thead>
        <tr>
            <th>
                {% trans "Název" %}
            </th>
            <th>
                {% trans "Událost" %}
            </th>
            <th>
                {% trans "Popis" %}
            </th>
            <th>
                {% trans "Částka" %}
            </th>
        </tr>
        </thead>
        {% for milestone in milestones %}
          <tr class="small">
            <td>
              {{ milestone.name }}
            </td>
            <td>
              {{ milestone.event }}
            </td>
            <td>
              {{ milestone.description }}
            </td>
            <td>
              {{ milestone.amount | money }}
            </td>
          </tr>
        {% endfor %}
    </table>

    {% include "tracker/partials/navfooter.html" %}
{% endblock %}
